<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>{% block page_title %}

    Mealbound

    {% endblock %}
  </title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="author" content="{% block meta_author %}{% endblock %}">
  <meta name="fb-app-id" content="{{ fb_app_id }}">
  <meta name="embed-entity" content="{{ embed_entity }}">
  <meta name="current-user" content="{{ current_user_json }}">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">

  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico?v=3"/>

  {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {% block css %}{% endblock %}

</head>
<body id="standalone-form-body" class="{% block body_class %}{% endblock %}">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="row" id="standalone-error-container">
      <div class="col-md-offset-4 col-md-4">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          <a class="close" title="Close" href="javascript:void(0)" data-dismiss="alert">&times;</a>
         {{message}}
        </div><!-- end .alert -->
        {% endfor %}
      </div><!-- end col-md -->
    </div><!-- end row -->
    {% endif %}
    {% endwith %}

{% block fblogin %}{% endblock %}
  <div id="standalone-form-bg"></div>
  <div class="container-narrow module" id="standalone-form-container">
    <div id="standalone-form-header">
      <h4 class="text-center">Mealbound</h4>
    </div>
    {% block form %}{% endblock %}
  </div>
{% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    <script type="text/javascript">
      var csrf_token = "{{ csrf_token() }}";

      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrf_token);
            xhr.setRequestHeader("Content-Type", "application/json");
          }
        }
      });
    </script>
{% endassets %}
{% block js %}{% endblock %}
<!-- end scripts -->
</body>
</html>
