/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-color: #eee;
}

.module {
  background-color: #fff;
  padding: 5px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container-narrow{
  margin: 0 auto;
  max-width: 500px;
}

/* Forms */

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}


.form-register {
  width: 90%;
  margin-left: 5%;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #d2d2d2;
  color: #999999;
}

footer a {
  color: #999999;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}

/* initial search page */

#initial-search-bar {

  text-align: center;

}

#search-results-container {
  margin-top: 15px;
  padding-top: 15px;
}

.search-bar {
  margin-top: 15px;
  padding-bottom: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* meal tile stylings */

.meal-tile {
  border-radius: 3px;
  padding: 5px;
  border-bottom: solid 2px #c3dde2;
}

.meal-tile:hover {
  background: #f2fdff;
}

.meal-tile > .ptile-info {
  padding: 15px;
  padding-top: 25px;
  word-wrap: break-word;
}

.meal-tile > .mtile-info > h3 {
  margin-bottom: 3px;
}

.mtile-info .mtile-icon {
  color: #ff9a39;
}

.meal-tile .button-right {
  text-align: right
}

.meal-tile .mtile-detail-nugget {
  color: #999999;
  display: inline-block;
  cursor: pointer;
  padding-left: 5px;
}

.meal-tile .mtile-detail-nugget:hover {
  text-decoration: none;
  color: #777;
}

.meal-tile .mtile-detail-nugget i {
  font-size: 18px;
}

.meal-tile .mtile-detail-nugget span {
  padding-left: 5px;
  font-size: 12px;
}

/* oauth login stylings */

#oauth-login-container {
  padding-top: 10px;
  border-top: solid #8080804d 1px;
  text-align: center;
  border-bottom: solid #8080804d 1px;
  padding-bottom: 10px;
}

/* standalone form styles */

#standalone-form-body {}

#standalone-form-bg {
  z-index: -1;
  background-image: url("/static/img/cooking-icons.png");
  background-repeat: repeat;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background-size: 340px auto;
  position: fixed;
}

#standalone-form-header {
  border-bottom: 2px solid rgba(50, 50, 150, 0.2);
}

#standalone-form-container {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  box-shadow: 0px 1px 5px 1px rgba(44, 44, 88, 0.3);
}

#standalone-form-nav {
  display: flex;
  margin-bottom: 15px;
}

.standalone-nav-btn {
  min-width: 30%;
  max-width: 30%;
  padding-bottom: 5px;
  padding-top: 10px;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
  display: inline;
}

.standalone-nav-btn:hover,
.standalone-nav-btn:focus {
  background-color: rgba(150, 150, 150, 0.07);
  text-decoration: none;
  color: black;
}

.standalone-nav-btn.nav-active {
  background-color: rgba(150, 150, 150, 0.03);
  border-bottom: 4px solid #1b8effb3;
  cursor: unset;
}

.form-control.standalone-form-input {
  box-shadow: 0 0;
  border-left-color: white;
  border-right-color: white;
  border-top-color: white;
  border-bottom: solid 1px #efefef;
  box-shadow: 0px 1px 0px 0px #efefef;
  padding: 5px;
}

.form-control.standalone-form-input:focus,
.form-control.standalone-form-input:active {
  border-bottom: solid 1px #1b8effb3;
  box-shadow: 0px 1px 0px 0px #71b9ff99;
}

.standalone-form-inline-group {
  display: inline-block;
}

#standalone-form-submit-btn {
  background-color: #1b8effb3;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  border-color: #1a69b7b3;
}
