/* THEMED BROWNS */
$brown-off-white: #dfdfdd;
$brown-extra-light: #afafaa;
$brown-light: #7f8078;
$brown: #505146;
$brown-dark: #3b3b33;
$brown-extra-dark: #252520;
$brown-off-black: #0f0f0d;


/* THEMED REDS */
$red-off-white: #fce1e1;
$red-extra-light: #f9b6b4;
$red-light: #f58a88;
$red: #f25f5c;
$red-dark: #b14643;
$red-extra-dark: #6e2c2a;
$red-off-black: #2c1211;


/* THEMED YELLOWS */
$yellow-off-white: #fff9e3;
$yellow-extra-light: #fff0b9;
$yellow-light: #ffe88f;
$yellow: #ffe066;
$yellow-dark: #baa34b;
$yellow-extra-dark: #74662f;
$yellow-off-black: #2f2913;


/* THEMED BLUES */
$blue-off-white: #d7e7ed;
$blue-extra-light: #9bc3d3;
$blue-light: #5f9fb8;
$blue: #247ba0;
$blue-dark: #1b5a75;
$blue-extra-dark: #113849;
$blue-off-black: #07171e;


/* THEMED GREENS */
$green-off-white: #e5f3f1;
$green-extra-light: #bee2dc;
$green-light: #97d1c7;
$green: #70c1b3;
$green-dark: #528d83;
$green-extra-dark: #335852;
$green-off-black: #152421;
