{% extends "layout.html" %}
{% block content %}
  <div class="module">
    <h1>Welcome {{ current_user.public_name }}</h1>
    <div class="container-narrow">
        <a href="{{ url_for('user.edit_profile')}}">Edit my profile.</a>
        <br/>
        {% if meals|length > 0 %}
          <h1>Your Upcoming Meals</h1>
          <ul>
          {% for meal in meals %}
            <li><a href="{{ url_for('meal.show', uid=meal.id) }}">{{ meal.name }}</a></li>
          {% endfor %}
          </ul>
        {% else %}
          <a href="{{ url_for('public.home') }}">You haven't joined any meals. Find one now</a>
        {% endif %}
        <br/>
        {% if current_user and not current_user.location.address %}
          <a href="{{ url_for('location.edit') }}">Become a host</a>
        {% else %}
          <a href="{{ url_for('location.mine') }}">Manage meals you are hosting</a>
        {% endif %}
    </div>
  </div>
{% endblock %}
