<div class="meal-tile">
  <div class="mtile-info">
    <h3 class="text-center">{{ meal.name }}</h3>
    <div class="clearfix">
      <h5 class="mtile-icon pull-left"><i class="fa fa-calendar"></i>  {{ meal.scheduled_for.strftime('%a, %b %d | %I:%M %p') }}</h5>
      <h5 class="mtile-icon pull-right"><i class="fa fa-dollar"></i>  {{ meal.price }}</h5>
    </div>
    <p>{{ meal.description }}</p>
    <div class="clearfix">
      <div class="col-xs-4 mtile-detail-nugget">
        <i class="fa fa-user"></i><span> {{ meal.num_guests }}</span>
      </div>
      <div class="button-right">
        <a href="{{ url_for('meal.show', uid=meal.id )}}" class="btn btn-primary">Check it out</a>
      </div>
    </div>
  </div>
</div>
