{% extends "layout.html" %}
{% block content %}
    <h1>Meal:</h1>
    <div class="container-narrow">
      <p>Name: <b>{{ meal.name }}</b></p>
      <p>Description: <b>{{ meal.description }}</b></p>
      <p>When: <b>{{ meal.scheduled_for }}</b></p>
      <p>Cost: <b>{{ meal.price }}</b></p>
    </div>
    {% if current_user == meal.host %}
    <div class="container-narrow">
      <h3>Guests:</h3>
      <ul>
        {% for user_meal in meal.user_meals %}
          <li>{{ user_meal.user.public_name }}
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if meal.joined(current_user) or meal.user_can_join(current_user) %}
      <form action="{{ url_for('meal.join_or_leave_meal', uid=meal.id) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {% if meal.joined(current_user) %}
          <input type="submit" class="btn btn-sm btn-danger" value="Cancel Reservation"/>
        {% else %}
          <input type="submit" class="btn btn-sm btn-info" value="Join"/>
        {% endif %}
      </form>
    {% endif %}
    {% if meal.is_host(current_user)  and meal.is_upcoming() %}
      <a href="{{ url_for('meal.edit', uid=meal.id) }}">Edit Meal</a>
      <form action="{{ url_for('meal.destroy', uid=meal.id) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="submit" clas="btn btn-sm btn-danger" value="Cancel Meal"/>
      </form>
    {% endif %}
{% endblock %}
