{% extends "layout.html" %}
{% block content %}
      <div class="container">
        <h2>{{ current_user.location.name }}</h2>
        <div>{{ current_user.location.address }}</div>
      </div>

      <div class="container">
        <a class="btn btn-large btn-primary" href="{{ url_for('meal.create') }}">Schedule a meal</a>
        {% if location.meals|length > 0 %}
        <h2>Hosted Meals</h2>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>
                Name
              </th>
              <th>
                Date
              </th>
              <th>
                Num. Guests
              </th>
            </tr>
          </thead>
          <tbody>
            {% for meal in location.meals %}
            <tr>
              <td><a href="{{ url_for('meal.show', uid=meal.id) }}"><b>{{ meal.name }}</b></a></td>
              <td>{{ meal.scheduled_for }}</td>
              <td>{{ meal.num_guests }}</td>
             </tr>
            {% endfor %}
          </tbody>
        </table>
        <br/>
        <br/>
        {% endif %}
      </div>

      <div><a href="{{ url_for('location.show', uid=location.id) }}">Click here</a> to preview the location as a guest</div>
      <div><a href="{{ url_for('location.edit') }}">Click here</a> to edit your location</div>
{% endblock %}
