{% extends "layout.html" %}
{% block content %}
    <h1>{{ location.name }}</h1>
    <h3>Upcoming Meals:</h3>
    <div class="container-narrow">
      {% for meal in location.meals %}
        <div>
          <div>Name: <b>{{ meal.name }}</b></div>
          <div>Description: <b>{{ meal.description }}</b></div>
          <div>Cost: <b>{{ meal.price }}</b></div>
          <div>Time: <b>{{ meal.scheduled_for }}</b></div>

          {% if meal.joined(current_user) or meal.user_can_join(current_user) %}
            <form action="{{ url_for('meal.join_or_leave_meal', uid=meal.id) }}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              {% if meal.joined(current_user) %}
                <input type="submit" class="btn btn-sm btn-danger" value="Cancel Reservation"/>
              {% else %}
                <input type="submit" class="btn btn-sm btn-info" value="Join"/>
              {% endif %}
            </form>
          {% endif %}
        </div>
      {% endfor %}
    </div>
{% endblock %}
