/* =============================================================================
   App specific CSS file.
   ========================================================================== */

// @import "../../node_modules/semantic-ui-css/semantic.min";
@import "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css";
@import "./Landing.scss";
@import "./Nav.scss";
@import "./MealCard.scss";
@import "./Variables/colors.scss";
@import "../../node_modules/react-datetime/css/react-datetime";
@import "../../node_modules/react-select-plus/dist/react-select-plus";

/* universal */

a:hover {
 cursor:pointer;
}

html {
  overflow-y: scroll;
}

body {
  background: #eee;
}

.no-margin {
  margin:0 !important;
}

.dropdown > .icon {
  display:inline-block !important;
}

.loading-spinner {
  margin-top:2rem !important;
  z-index:0 !important;
}

.ui.header.ceraon-home-page-meal-section-header {
  margin: 25px 0;
  border-bottom: 1px solid $brown-extra-light;
  padding-bottom: 15px;
}

.meal-card-grid > * {
  margin: 10px;
}

.meal-action-button {
  width:150px;
}

@media only screen and (min-width:767px) {
  .search-page-filters {
    flex: 0 0 250px;
  }

  .search-results-wrapper {
    margin-right:20px;
    flex: 1;
  }

  .ceraon-nav-bar {
    height:60px;
  }

  .view-meal-page {
    margin-left:30px !important;
    margin-right:30px !important;
    margin-bottom: 30px !important;
  }

  .view-meal-meal {
    flex: 1;
  }

  .view-meal-controls {
    flex: 0 0 250px;
  }

  .app-content {
    margin: 30px !important;
  }

  .form-page {
    width:60%;
    margin-left:auto !important;
    margin-right:auto !important;
  }

  .add-address-form {
    margin-left:auto;
    margin-right:auto;
  }

  .meal-card-summary {
    margin: 20px 10px 20px 0;
    width: 250px;
  }
}

@media only screen and (max-width:766px) {
  .ui.menu.vertical.stackable {
    width: 100% !important;
  }

  .app-content {
    margin-left: 15px !important;
    margin-right: 15px !important;
    margin-bottom: 15px !important;
  }

  .stackable {
    flex-direction:column !important;
  }

  .meal-card-summary {
    width:100%;
  }
}

.hidden {
  display: none;
  visibility: hidden;
}

.Select.Select--multi .Select-control input {
  border: none;
}
