@import "./Variables/colors.scss";


.ceraon-meal-card .ceraon-meal-card-price {
  background-color: $yellow;
  color: $yellow-off-black;
}

.ceraon-meal-card.card > .content > .header.ceraon-meal-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.meal-card-host-image {
  border-radius: 3px;
  margin: 3px 12px 3px auto;
}