{% extends "layout.html" %}
{% block fblogin %}

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : document.querySelector('meta[name=fb-app-id]').getAttribute('content'),
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();


    FB.getLoginStatus(communicateStatus);
  };

  function communicateStatus(response) {
    return $.post('/api/v1/sessions/facebook', JSON.stringify(response))
      .done(function(res) { console.log(res); });
  }

  function loginSuccess() {
    return FB.getLoginStatus(communicateStatus);
  }


  (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}


{% block content %}
<div class="container-narrow module">
  <h1>Login</h1>
    <br/>
    <form id="loginForm" class="form form-register" method="POST" action="/login" role="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group">
                {{form.email.label}}
                {{form.email(placeholder="Email", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.password.label}}
                {{form.password(placeholder="Password", class_="form-control")}}
            </div>
            <p><input class="btn btn-default btn-submit" type="submit" value="Login"></p>
    </form>
    <div id="oauth-login-container">
      <p class="lead">Or login with something else</p>
      <div id="fb-root"></div>
      <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="false" data-scope="public_profile,email" onlogin="loginSuccess();"></div>
    </div>
    <br/>
    <p><em>Already registered?</em> Click <a href="/">here</a> to login.</p>
</div>
{% endblock %}
